:root {
  --color-primary: #3d5a80;
  --color-primary-hover: #2d1e2f;
  --color-secondary: red;
  --color-secondary-hover: #a9e5bb;
  --color-third: #731dd8;
  --color-four: #3d3d3d;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Set core root defaults */
html {
  line-height: 1.5;
  font-family: "Oswald", "Montserrat", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: var(--color-four);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  margin: 0;
}
body.is-active {
  height: 100%;
  overflow-y: hidden;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration-skip-ink: auto;
  transition: color 0.2s, background-color 0.2s;
}
a:hover,
i:hover {
  cursor: pointer;
}
/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  width: min(65em, 100%);
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media only screen and (min-width: 45em) {
  .container {
    width: min(65em, 100%);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media screen and (min-width: 60em) {
  .container {
    width: min(85em, 100%);
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.code--inline {
  background-color: #eee;
  padding: 0.125em 0.25em;
  border: 0.0625rem solid #ccc;
  border-radius: 0.25em;
  color: #000;
  text-transform: none;
  white-space: nowrap;
}

h1 {
  font-size: 2.019rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.756rem;
  line-height: 1.3;
}

h3 {
  color: var(--color-secondary-dark);
  font-size: 1.525rem;
  margin-bottom: 0.5rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.325rem;
  color: var(--color-accent);
  margin: 0;
  line-height: 1.3;
}

h5 {
  font-size: 1.15rem;
  font-weight: normal;
  line-height: 1.3;
}

h6 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

@media only screen and (min-width: 45em) {
  h1 {
    font-size: 2.581rem;
  }
  h2 {
    font-size: 2.069rem;
  }
  h3 {
    font-size: 1.725rem;
  }
  h4 {
    font-size: 1.438rem;
  }
  h5,
  a {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 60em) {
  h1 {
    font-size: 3.056rem;
  }
  h2 {
    font-size: 2.444rem;
  }
  h3 {
    font-size: 1.956rem;
  }
  h4 {
    font-size: 1.563rem;
  }
  h5,
  a {
    font-size: 1.25rem;
  }
}
/* ---------- Accessibility ---------- */
*:focus-visible {
  outline: 0.125rem solid var(--color-secondary);
  outline-offset: 0.125rem;
}

.skip-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.skip-list a {
  position: absolute;
  top: -10rem;
  left: 0.5rem;
  display: inline-block;
  padding: 0.55em 1.5em 0.5em;
  background-color: var(--color-primary);
  color: white;
  text-decoration: none;
}

.skip-list a:focus {
  top: 0.75rem;
}

/* ---------- To Top ---------- */
.to-top {
  position: fixed;
  bottom: -0.2rem;
  right: 1.5rem;
  background-color: var(--color-secondary);
  color: #000;
  padding: 0.7rem 0.7rem 1.3rem;
  border-radius: 0.5rem 0.5rem 0 0;
  text-decoration: none;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1333333333);
  transform: translateY(100%);
}
.to-top.visible {
  transform: translateY(0);
  transition: all 0.2s;
}
.to-top:hover,
.to-top:focus-visible {
  background-color: var(--color-primary);
  bottom: 0;
  color: white;
  transform: translateY(0);
}

.screen-reader-text {
  position: absolute;
  clip-path: polygon(0 0, 0.1% 0, 0.1% 0.1%, 0 0.1%);
}

/* ! ------------ START nav---------- */

.header {
  background-color: black;
}
.nav {
  padding: 1rem;
  padding-bottom: 1rem;
}
.nav .nav_ul {
  margin: 0;
  padding: 0;
  display: grid;
  gap: 1rem;
}
.nav .nav_ul li {
  text-align: center;
}
.nav .nav_li_title h1 {
  color: white;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.nav .nav_li_title span {
  color: red;
}
.search_lg {
  background-color: var(--color-four);
  border-radius: 15px;
  padding: 1.2rem;
}
.search_lg form {
  display: flex;
}
.search_lg input {
  background-color: transparent;
  border: none;
  color: white;
  flex-grow: 2;
  padding: 0.5rem;
}
.search_lg button {
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  padding: 0.5rem;
}
.search_lg i {
  color: white;
}
.nav_li_categories {
  display: flex;
  justify-content: center;
}
.div_categories {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 6fr);
  background-color: var(--color-four);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 10%;
  padding-right: 10%;
  border-radius: 15px;
}
.div_categories a {
  color: white;
  padding: 0.5rem;
  transition: all 0.3s;
}
.div_categories a.active {
  border-radius: 5px;
  background-color: red;
}
.search_lg input::placeholder {
  color: #bebebe;
  font-size: 0.8rem;
}
@media only screen and (min-width: 45em) {
  .nav .nav_ul {
    margin-top: 1.5rem;
    padding: 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: 7fr 5fr;
  }
  .search_lg input::placeholder {
    font-size: 1rem;
  }
  .nav .nav_li_title {
    display: flex;
    grid-column: 1 / -1;
  }
  .nav .nav_li_title h1 {
    color: white;
    margin: auto;
  }
  .search_lg {
    border-radius: 15px;
    padding: 0.5rem;
  }
  .search_lg input {
    padding: 0.3rem;
  }
  .div_categories {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(2, 6fr);
    background-color: var(--color-four);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 5%;
    padding-right: 5%;
  }
  .div_categories a {
    margin: auto;
    color: white;
    padding: 0.5rem;
    transition: all 0.3s;
  }
}
@media screen and (min-width: 60em) {
  .nav .nav_ul {
    grid-template-columns: 8fr 4fr;
  }
  .nav_li_categories {
    display: block;
    justify-content: start;
  }
  .search_lg input::placeholder {
    color: #bebebe;
    font-size: 1.225rem;
  }
}
/* ? ------------ END nav---------- */

.banner .banner_blur {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 60%,
    rgba(61, 61, 61, 0) 100%
  );
  padding-top: 7rem;
  padding-bottom: 7rem;
  backdrop-filter: blur(10px);

  color: white;
}

.banner_img {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
}
.container img {
  width: 50%;
  display: inline-block;
  aspect-ratio: 1/1;
}
.img_split {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.75);
}
